<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/users/create}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <br/>
    <label for="lastName">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <br/>
    <label for="login">Enter login: </label>
    <input type="text" th:field="*{login}" id="login"/>
    <br/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <br/>
    <label for="position">Enter position: </label>
    <input type="text" th:field="*{position}" id="position"/>
    <br/>
    <br/>
    <label for="birthDate">Enter birthDate: </label>
    <input type="text" th:field="*{birthDate}" id="birthDate"/>
    <br/>
    <br/>
    <label for="salary">Enter salary: </label>
    <input type="text" th:field="*{salary}" id="salary"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>