<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<label>Name:</label>
<p th:text="${user.getName()}">VALUE</p>
<label>Id:</label>
<p th:text="${user.getId()}">VALUE</p>
<label>Last name:</label>
<p th:text="${user.getLastName()}">VALUE</p>
<label>Login:</label>
<p th:text="${user.getLogin()}">VALUE</p>
<label>Email:</label>
<p th:text="${user.getEmail()}">VALUE</p>
<label>Position:</label>
<p th:text="${user.getPosition()}">VALUE</p>
<label>Birth date:</label>
<p th:text="${user.getBirthDate()}">VALUE</p>
<label>Salary:</label>
<p th:text="${user.getSalary()}">VALUE</p>

<a th:href="@{ /users/{id}/edit( id=${ user.getId() } ) }">Edit user</a>
</body>
</html>